__pycache__/
.egg

.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

*.mo
*.pot

*.log
.idea/
.idea/*


/static/*
/media/*
/salt_root/var/*
/env3/*
/salt_root/etc/salt/pki/master/ssh/salt-ssh.rsa
/salt_root/etc/salt/pki/master/ssh/salt-ssh.rsa.pub
/tests/*